<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="welcome"></div>

    <h4>
      Welcome to Chaton Power <%= @user.first_name %> !
    </h4><br>
    <p>
      We are absolutely pleased to have as a new user of our beloved website. <br/>
      We hope you will the picture of your dream among our cute kittens. <br/>
      To access your customer space and book your first kitten images, go to to <%= @url %> and sign in!
    </p><br>
    <p>
      See you soon !
    </p>
    <br/> <br/>

    <p>RRCSS Team&copy</p>
  </body>
</html>
