<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h5>
      Welcome to Chaton Power <%= @user.first_name %>
    </h5><br>
    <p>
      To access your customer space and book your first kitten images, sign in to <%= @url %> !
    </p><br>
    <p>
      See you soon !
    </p>
  </body>
</html>
