<head>
	<meta HTTP-EQUIV="REFRESH" content="5; url='<%=root_path%>' ">
</head>
<h2>Thanks, you paid <strong><%= @amount %>€</strong>!</h2>

You will be automatically redirected to the main page in a few seconds...
If not, <a href="<%= root_path %>">click here</a>