<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>

	<body>

	<div>
		<div class="banner">		
			<div>
			<h1 class="title-banner">CHATON POWER.</h1>
			<p class="text-banner">De la merde</p>
			</div>
		</div><br /><br />
		
		<div class="flex-container">
			<% @item.each do |item| %>
				<% @title = item.title %>
				<% @price = item.price %>
				<% @image = item.image_url %>
				<div>
				<%= render "layouts/card" %></div> <br/> <br/>
			<% end %>
		</div>
	</div>

	</body>
</html>



