<div class="video-container">
	<div class="banner">
		<%= video_tag "cat.mp4", controls: false, autoplay: true, muted: true, loop: true, id: "home-video"  %>
	</div>
</div>

<div class="banner-text">
	<div class="typing">
		<h1 class="title-banner">CHATON POWER.</h1>
	</div>
	<p class="text-banner">De la merde <br/><a class="btn btn-secondary" href="#section2" id="scroll-button">Scroll</a>
	</p>
</div>

<div class="space">
</div>

<div class="flex-container" id="section2">
	<% @item.each do |item| %>
	<% @title = item.title %>
	<% @price = item.price %>
	<% @image = item.image_url %>
	<% @id = item.id %>
	<div>
		<%= render "layouts/card" %></div> <br/> <br/>
		<% end %>
	</div>
