/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* A RAJOUTER */
 html {
  height: 100%;
  scroll-behavior: smooth;
}

h1::selection, h3::selection, p::selection, .nav-link::selection, a::selection {
  background: #F3969A;
}

body {
  position: relative;
  height: 100vw;
  margin: 0;
  padding: 0;
}

.cat-picture {
  background-size: cover;
  width: 100%;
  height: 200px;
}

.search-button{
  display: inline-block;
}
form.search-form {
  text-align: center;
}
input.search {
  display: inline-block;
  vertical-align: middle;
}

.search {
  width: 200px;
}

#denis-ah {
  margin-left: 16em;
  width: 30%;
}

.space {
  height: 100px;
  margin-bottom: 400px;
}

.fixed-top.scrolled {
  background-color: #79C2AD !important;
  transition: background-color 200ms linear;
}

.colored-navbar {
  background-color: #79C2AD !important;
}

.nav-link-colored {
  color: #EDEEF3 !important;
}

.fixed-top {
  background:transparent;
}

.video-container {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.banner-text {
  text-align: center;
  padding: 20px;
  margin: 15px;
}

.transparent-nav {
  color: #6F7070 !important;
}

.colored-nav {
  color: #EDEEF3 !important;
}

.colored-nav:hover {
  color: #FFFFFF !important;
}

.transparent-nav:hover {
  color: #A9A9AC !important;
}

.transparent-nav.scrolled {
  color: #FBFFFF !important;
}

.typing {
 display: flex;
}

.title-banner {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
  typing 2.3s steps(30, end),
  blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0; }
  to { width: 90%; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #F3969A }
}

/* A RAJOUTER */

#logo {
  width: 8%;
  margin-right: 1%;
  padding-bottom: 1%;
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: bold;
  color: #F7F7F5 !important;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: auto;
  justify-content: space-around;
  padding-top: 4%;
  background-color: #fafafa;
  width: 70%;
  margin: auto;
  margin-bottom: 4%;
}

.index-title {
  font-size: 4.3em;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.index-search{
  margin-left: 40%;
}
.card-content {
  height: 19.375em;
  max-width: 21.875em;
  box-shadow: 5px 5px 5px #c5c8cc;

}

.video {
  width: 100%;
}

.caddie {
  margin-left: 20px;
}

.banner{
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.title-banner{
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.4em;
  text-shadow: 5px 5px black;
  font-size: 4.375em;
  font-weight: bold;
  position: relative;
  top: 2.5em;
}

.text-banner{
  color: #ffffff;
  letter-spacing: 1%;
  word-spacing: 5%;
  font-size: 2em;
  font-style: italic;
  position: relative;
  top: 7em;
  text-align: center;

}

.show-card {
  max-width: 40%;
  min-width: 40em;
  margin: auto;
  margin-top: 6%;
  text-align: center;
}

.show-page {
  height: 16em;
}

.show-img {
  width: 100%;
  margin: auto;
}

/* Index du panier */
.list-group-item{
  border-radius: 6px;
  margin-bottom: 1%;
}
.list-group-cart{
  width: 85%;
  margin: auto;
}

.index-fave{
  width: 65%;
}

.product-image{
  align-content: right;
  margin-right: 2em;
  height:200px;
}

.item-details-container{
  display: flex;
  width: 95%;
  top: 3em;
}

.list-checkout-cart{
  height: 10%;
}

.item-title-description{
  display : flex;
  flex-direction: column;
  justify-content : center;
  color: #78C2AD;
}

/* right of item description --> quantity and delete  */
.price-container{

  width: 10%;
}


.quantity-button{
  width: 20%;
}

.inputndelete{
  display: flex;
  flex-direction: row;
  width: 80%;
}
.inputndelete > div:nth-of-type(1){
  flex: 2;
}

.trash-div{
  margin: 5px 10px;
  color: #F3969A;
}

.trash{
  color: #F3969A;
}

.description-text-item{
  width: 60%;
}

.total-bar{
  width: 85%;
  margin: auto;
  margin-top: 1%;
}

hr {
  border : 1.5px solid lightgrey;
}

.total-cart{
  text-align: right;
  margin-top: 1%;
  margin-right: 7%
}

.price-color{
  color: #78C2AD;
}

.profile-img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border: 1px solid grey;
  border-radius: 100px;
  text-align: center;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#checkout-button{
  position: relative;
  left: 84%;
}

.editCard {
  padding: 4rem;
}

#line-edit {
  margin: 2em ;
  width: 60%;
}

.avatar-section {
 text-align: center;
}

.choose {
  margin-left: 40%;
}

.avatar-profile {
  justify-content: center;
}

#empty-cart {
  margin: 15em;
}

.cat-cards {
  margin-bottom: 500px;
}

/* FOOTER */

.footer-distributed{
  position: absolute;
  bottom: 0;
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
  margin-bottom: -80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;

}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px, cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #79C2AD;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #79C2AD;
  text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}

.container-stripe {
  background-color: #fafafa;
  width: 60%;
  height: 30em;
  margin: auto;
  text-align: center;
  margin-top: 10%;
}

.stripe-logo {
  width: 30%;
}

.stripe-body {
  background-image: url("pusheen_the_cats.png");
}

.nav-button {
  color: grey;
  background-color: white ;
  font-weight: bold;
  border: grey;
}

.nav-button:hover {
  font-weight: normal;
}

.welcome {
  background-image: url("welcome.jpg");
}
