// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-cat-signup{
	vertical-align: middle;
	width: 90%;
	margin: 20% auto;
	border-radius: 2%;
}

#login-title, #signup-title {
	margin: 0 auto;
	padding-left: 22%;
}

.form-actions {
	margin: 0 auto;
}

.modal-body {
	margin-top: 12%;
	margin-left: 5%;
}


