<div class="card mb-3" style="height: 310px; width: 30%; box-shadow: 5px 5px 5px #c5c8cc; margin: 10px;">
  <h3 class="card-header" style="text-align: center;">BOUBOULE</h3>
  <img style="height: 200px; width: 100%;" src="http://oxmg23usfvkkg5uy1jypi6w8-wpengine.netdna-ssl.com/wp-content/uploads/cats-animals-kittens-background.jpg" alt="Card image">
  <div class="card-body" >
    <p class="card-text" style="float:left;">8€</p> 
    <a href="#" class="card-link" style="float:right;">Plus d'infos</a>
  </div>
</div>