<footer class="footer-distributed">

	<div class="footer-left">

		<h3>In Chaton power <span>we trust</span></h3>

		<p class="footer-links">
			<a href="https://github.com/CamilleRungette/">Camille</a>
			·
			<a href="https://github.com/ryanzidago">Ryan</a>
			·
			<a href="https://github.com/LKF92">Sylvain</a>
			·
			<a href="https://github.com/Ramoin">Romain</a>
			·
			<a href="https://github.com/vxnsteven">Steven</a>
		</p>

		<p class="footer-company-name">Chaton is life  &copy; 2019</p>
	</div>

	<div class="footer-center">

		<div>
			<i class="fa fa-map-marker"></i>
			<p>La Felicità<span>5 Parvis Alan Turing</span> 75013 Paris</p>
		</div>

		<div>
			<i class="fa fa-phone"></i>
			<p>+33 1 76 50 66 33</p>
		</div>

		<div>
			<i class="fa fa-envelope"></i>
			<p><a href="mailto:support@company.com">hello@chaton-power.io</a></p>
		</div>

	</div>

	<div class="footer-right">

		<p class="footer-company-about">
			<span>About the company</span>
			This tech company has been created by 5 incredible web developpers. We are increasingly passionate about technology, innovation and we define ourselves as early makers. With our diversity-empowering mindset, we are hunting for the new facebook. We lied. Thumb up if you fully read this.
		</p>

		<div class="footer-icons">

			<a href="https://github.com/CamilleRungette/ChatonPower"><i class="fab fa-facebook-f"></i></a>
			<a href="https://github.com/CamilleRungette/ChatonPower"><i class="fab fa-twitter"></i></a>
			<a href="https://github.com/CamilleRungette/ChatonPower"><i class="fab fa-linkedin-in"></i></a>
			<a href="https://github.com/CamilleRungette/ChatonPower"><i class="fab fa-github"></i></a>

		</div>

	</div>

</footer>
